 

<!-- Start wrapper-->
<div id="wrapper">

  <!-- registration box 1 -->
   
 <div class="mt-5">
<div class="card card-authentication1 mx-auto">
  <div class="card-body">
   <div class="card-content">
     <div class="text-center pb-4">
        <img src="../../../assets/images/logo-icon.png" alt="logo icon"/>
           <h6 class="pb-0 pt-3 line-height-5">Welcome</h6>
           <small>Create Your New Account</small>
    </div>
      
      <div class="form-group">
      <label for="input1" class="sr-only">Name</label>
       <div class="position-relative has-icon-right">
        <input type="text" id="input1" class="form-control form-control-rounded" placeholder="Enter Your Name">
        <div class="form-control-position">
          <i class="icon-user"></i>
        </div>
       </div>
      </div>
      <div class="form-group">
      <label for="input2" class="sr-only">Email ID</label>
       <div class="position-relative has-icon-right">
        <input type="text" id="input2" class="form-control form-control-rounded" placeholder="Enter Your Email ID">
        <div class="form-control-position">
          <i class="icon-envelope-open"></i>
        </div>
       </div>
      </div>
      <div class="form-group">
       <label for="input3" class="sr-only">Password</label>
       <div class="position-relative has-icon-right">
        <input type="password" id="input3" class="form-control form-control-rounded" placeholder="Choose Password">
        <div class="form-control-position">
          <i class="icon-lock"></i>
        </div>
       </div>
      </div>
      
       <div class="form-group">
         <div class="icheck-material-dark">
                 <input type="checkbox" id="input4" checked="" />
                 <label for="input4">I Agree With Terms & Conditions</label>
         </div>
        </div>
      
     <button type="button" class="btn btn-dark btn-block btn-round">Sign Up</button> 
     </div>
    </div>
    <div class="card-footer text-center py-3 bg-transparent">
      <p class="mb-0">Already have an account? <a href="authentication-signin.html"> Sign In here</a></p>
    </div>
     </div>
 </div>
 

  
   <!--Start Back To Top Button-->
  <a href="javaScript:void();" class="back-to-top"><i class="fa fa-angle-double-up"></i> </a>
  <!--End Back To Top Button-->



</div><!--wrapper-->