 
    <div class="container-fluid ">
        
                <div class=" no-pdding login-box">
                    <div class="row no-margin w-100 bklmj">
                        <div class="col-lg-6 col-md-6 log-det">
                            
                            <h2>Login</h2>
                            
                           
                            <div class="row no-margin past">
                                <p>Dont Have an Account? <span>Create your Account</span> </p>
                            </div>


                            <div class="text-box-cont">
                                <div class="input-group mb-3">
                                   
                                    <input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">
                                </div>
                                 <div class="input-group mb-3">
                                    
                                    <input type="text" class="form-control" placeholder="Password" aria-label="Username" aria-describedby="basic-addon1">
                                </div>
                                <div class="row no-margin">
                                    <p class="forget-p">Forget Password ?</p>
                                </div>
                                <div class="right-bkij mb-3">
                                    <button class="btn btn-success btn-round">sign In</button>
                                </div>  
                                <br> 
                                <div class="row linkoi">
                                  <div class="col-sm-5">
                                      <p>Or login with</p>
                                  </div>
                                   <div class="col-sm-7">
                                       <ul>
                                            <li><i class="fab fa-facebook-f"></i></li>
                                            <li><i class="fab fa-twitter"></i></li>
                                            
                                        </ul>
                                   </div>
                                </div> 
                            </div>
                            
                             

                        </div>
                        <div class="col-lg-6 col-md-6 box-de">
                            <div class="ditk-inf">
                                <h2 class="w-100">E X P E R T Q</h2>
                                <p>Simply Create your account by <br> clicking the Signup Button</p>
                                <button type="button" class="btn btn-outline-light">Sign Up</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
       
 